---
import Layout from '@/Layout.astro';
import AboutMe from '@/components/about/AboutMe.astro';
---

<Layout>
  <div class="grid grid-cols-2 gap-20">
    <div>
      <AboutMe width={150} height={150} />
    </div>
    <div>
      <h1>About</h1>
    </div>
  </div>
</Layout>
