---
import { getEntry } from 'astro:content';
import Default from '@/layouts/Default.astro';
import AboutMe from '@/components/about/AboutMe.astro';
import Button from '@/components/Button.astro';
import Icon from '@/components/Icon.astro';

const content = await getEntry('page', 'home');
---

<Default>
  <div class="mx-auto mt-10 max-w-screen-md">
    <div class="flex flex-col items-center gap-10">
      <AboutMe center={true} width={300} height={300}>
        <a href="/about" class="flex">
          <Button type="button" class="px-8 py-2">
            {content.data.explore}
            <Icon icon="material-symbols:arrow-right-rounded" />
          </Button>
        </a>
      </AboutMe>
    </div>
  </div>
</Default>
