---
import { getCollection, getEntry } from 'astro:content';
import Page from '@/layouts/Page.astro';
import Repository from '@/components/Repository.astro';
import { sortByOrder } from '@/utils/sort';

const content = await getEntry('page', 'repositories');
const repositories = sortByOrder(await getCollection('repository'));
---

<Page
  active="repository"
  title={content.data.title}
  description={content.data.description}
  navigationLinks={{ back: 'project', forward: 'resume' }}
>
  <div class="flex flex-col gap-5">
    <h2 class="text-lg font-semibold">{content.data.heading}</h2>
    <div class="flex flex-col gap-3">
      {repositories.map((repository) => <Repository repository={repository} />)}
    </div>
  </div>
</Page>
