---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'button'>;

const props = Astro.props;
const { class: classes, ...attrs } = props;
---

<button
  {...attrs}
  class={`bg-gray-900 hover:shadow-xl focus:ring-gray-500 dark:bg-gray-50 dark:hover:bg-primary-600 dark:focus:ring-gray-600 inline-flex items-center rounded-md text-center text-sm text-white dark:text-black focus:ring-4 font-medium ${classes}`}
>
  <slot />
</button>
