---
import DarkMode from './DarkMode.astro';
import Icon from './Icon.astro';
import Logo from './Logo.astro';
import SocialLinks from './SocialLinks.astro';
import { type LinkKey, links } from '@/utils/constants';

export interface Props {
  active: LinkKey;
}

const { active } = Astro.props;
---

<div class="flex items-center justify-between">
  <Logo />
  <div class="flex gap-2">
    <DarkMode />
    <button
      id="hamburger"
      type="button"
      data-collapse-toggle="navbar-hamburger"
      class="flex h-10 w-10 items-center justify-center rounded-full bg-gray-200 text-sm text-gray-500 shadow-md hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-300 dark:bg-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600 lg:hidden"
    >
      <span class="sr-only">Open main menu</span>
      <Icon class="h-6 w-6" icon="heroicons:bars-3-bottom-right-solid" />
    </button>
  </div>
</div>

<div class="max-h-0 overflow-hidden transition-all" id="mobile_nav">
  <div class="flex flex-col items-center gap-10">
    <nav class="flex w-full flex-col items-center gap-5" id="mobile_nav">
      {
        Object.values(links).map((link) => (
          <a
            class={`flex items-center gap-2 text-2xl font-medium text-gray-500 dark:text-gray-400 ${
              links[active] === link && `!text-black dark:!text-white`
            }`}
            href={link.href}
          >
            {link.name}
          </a>
        ))
      }
    </nav>
    <SocialLinks />
  </div>
</div>

<script is:inline>
  function toggleMobileNav() {
    const mobileNav = document.getElementById('mobile_nav');
    mobileNav.classList.toggle('!max-h-96');
  }
  document
    .getElementById('hamburger')
    .addEventListener('click', toggleMobileNav);
</script>
