<div class="relative w-full">
  <div class="inline-flex w-full items-center justify-center">
    <hr class="my-8 h-1 w-64 rounded border-0 bg-gray-300 dark:bg-gray-600" />
    <span
      class="absolute left-1/2 -translate-x-1/2 bg-white px-3 font-medium text-gray-900 dark:bg-gray-900 dark:text-white"
    >
      and
    </span>
  </div>
</div>
