---
import Button from './Button.astro';
import Icon from './Icon.astro';
import { links } from '@/utils/constants';

type Links = typeof links;
type LinkKey = keyof Links;
export interface Props {
  back: LinkKey;
  forward: LinkKey;
}

const { back, forward } = Astro.props;
---

<div class="mt-5 flex flex-col items-center justify-center gap-4 sm:flex-row">
  <a href={links[back].href} class="flex">
    <Button class="rounded-sm px-7 py-2">
      <Icon icon="material-symbols:arrow-left-rounded" />
      {links[back].name}
    </Button>
  </a>
  <a href={links[forward].href} class="flex">
    <Button class="rounded-sm px-7 py-2">
      {links[forward].name}
      <Icon icon="material-symbols:arrow-right-rounded" />
    </Button>
  </a>
</div>
