---
import { type CollectionEntry, getEntries } from 'astro:content';
import Skill from './Skill.astro';
import Badge from './Badge.astro';
import Icon from './Icon.astro';
import { sortByOrder } from '@/utils/sort';

interface Props {
  repository: CollectionEntry<'repository'>;
}

const { repository } = Astro.props;
const skills = sortByOrder(await getEntries(repository.data.skills));
---

<div class="flex flex-col gap-2 bg-gray-200 p-5 dark:bg-gray-800">
  <h3 class="flex items-center gap-2 text-xl font-semibold">
    {repository.data.name}
    <a class="flex" href={repository.data.link} target="_blank">
      <Badge>
        Review code
        <Icon class="!h-5 !w-5" icon="ic:round-arrow-outward" />
      </Badge>
    </a>
  </h3>
  <p class="text-gray-500">{repository.data.description}</p>
  <div class="flex flex-wrap gap-2">
    {skills.map((x) => <Skill skill={x} />)}
  </div>
</div>
