---
import Skill, { type Props as SkillProps } from './Skill.astro';

interface Props {
  skills: SkillProps['skill'][];
  link?: SkillProps['link'];
}

const { skills, link } = Astro.props;
---

<div class="flex flex-wrap gap-2">
  {skills.map((x) => <Skill skill={x} link={link} />)}
</div>
