---
import { getCollection } from 'astro:content';
import Button from './Button.astro';
import Icon from './Icon.astro';

const socials = await getCollection('social');
const sortedSocials = socials.sort((a, b) =>
  a.data.order > b.data.order ? 1 : -1,
);
---

<ul class="flex gap-3 sm:gap-5">
  {
    sortedSocials.map((social) => (
      <li>
        <a class="flex" target="_blank" href={social.data.link}>
          <Button
            aria-label={social.data.description}
            class="flex h-10 w-10 items-center justify-center text-white"
          >
            <Icon icon={social.data.icon} />
          </Button>
        </a>
      </li>
    ))
  }
</ul>
