---
import { getCollection } from 'astro:content';
import Button from './Button.astro';
import Icon from './Icon.astro';
import { sortByOrder } from '@/utils/sort';

const socials = sortByOrder(await getCollection('social'));
---

<ul class="flex gap-3 sm:gap-5">
  {
    socials.map((social) => (
      <li>
        <a class="flex" target="_blank" href={social.data.link}>
          <Button
            aria-label={social.data.description}
            class="flex h-10 w-10 items-center justify-center text-white"
          >
            <Icon icon={social.data.icon} />
          </Button>
        </a>
      </li>
    ))
  }
</ul>
